 "![png](https://assets.codingdojo.com/boomyeah/company_209/chapter_3569/handouts/chapter3569_5431_sakila-db-model.png)]"

Imports

In [1]:
import os
os.makedirs('Data/',exist_ok=True) 
os.listdir("Data/")

['sakila-data.sql', 'sakilas_tables.png']

In [2]:
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
from urllib.parse import quote_plus as urlquote

In [3]:
import json
with open('/Users/evelynmartinez/.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [4]:
connection = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/sakila"
engine = create_engine(connection)

In [5]:
if database_exists(connection):
    print('it exists')
else:
    create_database(connection)
    print('Database created')

it exists

In [6]:
q = '''SHOW TABLES'''
pd.read_sql(q,engine)

              Tables_in_sakila
0                        actor
1                   actor_info
2                      address
3                     category
4                         city
5                      country
6                     customer
7                customer_list
8                         film
9                   film_actor
10               film_category
11                   film_list
12                   film_text
13                   inventory
14                    language
15  nicer_but_slower_film_list
16                     payment
17                      rental
18      sales_by_film_category
19              sales_by_store
20                       staff
21                  staff_list
22                       store

1. What query would you run to get all the customers inside city_id = 312? Your query should return the customers' first name, last name, email, address, and city.

2. What query would you run to get all comedy films? Note that the genre is called the category in this schema. Your query should return film title, description, release year, rating, and special features.

3. What query would you run to get all the films that Johnny Lollobrigida was in? Your query should return the actor's last name, film title, and release year.

4. What query would you run to get the first and last names of all the actors in the movie titled "Bingo Talented"?

5. What query would you run to get the customer_id associated with all payments greater than twice the average payment amount? (HINT: use 2* in your query to get twice the amount). Your result should include the customer id and the amount.

6. What query would you run to list the first and last names of the 5 customers who have the highest number(count) of payments? You can title the number of payments as num_payments.